html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: rgb(50, 53, 59, 0.612); 
    background: -webkit-linear-gradient(to right, rgba(50, 53, 59), rgba(50, 53, 59));  
    background: linear-gradient(to right, rgba(50, 53, 59), rgba(50, 53, 59)); 
    font-size: 1.6rem;
}


h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: white;
    font-size: 4rem;
}

form {
    background-color: steelblue;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: white;
    font-size: 4rem;
}

input {
    background-color: gainsboro;
    text-align: center;
    font-family: 'Staatliches', cursive;
    
    font-size: 4rem;
}

inputForm{
    background-color: gainsboro;
    text-align: center;
    font-family: 'Staatliches', cursive;
    text-transform: lowercase;
    font-size: 4rem;
}

label {
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: black;
    font-size: 2rem;
}

h2 {
    font-family: 'Staatliches', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#5123f5;
    font-size: 2.4rem;
}
h3 {
    font-family: 'Staatliches', cursive;
    color:#AA076B;
    font-size: 2.4rem;
}
.btn {
    font-size:1.4rem;
}
.fecha-alta {
    font-family: 'Staatliches', cursive;
    color: #AA076B;
    font-weight: bold;
    font-size: 2rem;
}
.contacto p {
    font-size: 1.2rem;
    margin: 0;
}
.list-group-item:hover {
    background: white;
}
form {
    border-radius: .3rem;
    width: 450px;
    
}